{% extends 'layout.html.twig' %}

{% block title %}
    Code Heroes
{% endblock %}

{% block content %}
    <section class="empty-map home">
        <h1>Code Heroes</h1>
        <div class="buttons">
            <a class="bigbutton bigbutton-orange" href="./signup">
               Inscription
            </a>
            <a class="bigbutton bigbutton-green"  href="./login">
                Connexion
            </a>
        </div>
    </section>
{% endblock %}

