{% extends 'layout.html.twig' %}

{% block title %}
    Code Heroes
{% endblock %}

{% block content %}
    <div class="empty-map">
        <h2>Adieu ...</h2>

        <p>
            Compte supprimé avec succès!
        </p>

        <div class="buttons">
            <a href="./" class="bigbutton bigbutton-orange bigbutton-small" value="back">
                Accueil
            </a>
        </div>
    </div>
{% endblock %}
