{% extends 'layout.html.twig' %}

{% block title %}
    Code Heroes
{% endblock %}

{% block content %}
    <div class="empty-map">
        <h2>Inscription</h2>

        <form action="" method="post" class="signup-form">

            <div>
                <label for="name">Nom</label>
                <input required pattern="^[A-Za-z_-]+$" type="text" name="name" placeholder="Ton nom">
            </div>

            <div>
                <label for="password">Mot de passe</label>
                <input required type="password" name="password_1" placeholder="Ton mot de passe">
            </div>

            <div>
                <label for="password">Confirmation</label>
                <input required type="password" name="password_2" placeholder=" Confirmation mot de passe">
            </div>

            <p class="error-message">
                {{ error ?? ""  }}
            </p>

            <div class="buttons">
                <button class="bigbutton bigbutton-red bigbutton-small" value="back" onclick="history.go(-1)">
                    Retour
                </button>

                <button class="bigbutton bigbutton-blue bigbutton-small" type="submit">
                    Entrer
                </button>
            </div>
        </form>
    </div>
{% endblock %}
